.footer {
  max-width: 1170px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
  margin-top: 100px;

  &__container {
    display: flex;
    gap: 50px;
  }

  &__text {
    font-family: "EB Garamond", serif;
    display: flex;
    align-items: flex-start;
    gap: 20px;
    height: fit-content;
    max-width: 614px;
    width: 100%;
    font-size: 24px;
    line-height: 1.15;
    font-weight: 400;
    margin: 0;
    padding: 0;
  }

  &__img {
    max-width: 540px;
    width: 100%;
  }

  @media screen and (max-width: 950px) {
    &__text {
      max-width: 502px;
      font-size: 20px;
    }
  }

  @media screen and (max-width: 650px) {
    &__text {
      max-width: 351px;
      font-size: 15px;
    }

    &__ps {
      width: 54px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .footer {
    flex-direction: column;
    align-items: center;
    gap: 56px;
  }
}

@media screen and (max-width: 750px) {
  .footer {
    margin-top: 32px;
  }
}
