.plan {
  max-width: 1170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  margin-top: 160px;

  &__glasses {
    position: absolute;
    top: -120px;
    right: -20px;
  }

  &__camera {
    position: absolute;
    bottom: -175px;
    left: -20px;
  }

  &__title {
    font-family: "EB Garamond", serif;
    font-size: 96px;
    line-height: 1.15;
    font-weight: 400;
    margin: 0;
    padding: 0;
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 24px 0 0;
    padding: 0;
    list-style-type: none;
  }

  &__item {
    font-family: "EB Garamond", serif;
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 36px;
    line-height: 1.15;
    font-weight: 400;
    margin: 0;
    padding: 0;
  }

  &__time {
    font-family: "EB Garamond", serif;
    font-size: 48px;
  }

  @media screen and (max-width: 950px) {
    &__glasses {
      width: 85px;
      top: -85px;
    }

    &__camera {
      width: 90px;
      bottom: -85px;
      left: 0;
      transform: rotate(-18deg);
    }

    &__title {
      font-size: 40px;
    }

    &__items {
      gap: 8px;
    }

    &__item {
      font-size: 20px;
    }

    &__time {
      font-size: 36px;
    }
  }
}

@media screen and (max-width: 800px) {
  .plan {
    margin-top: 80px;
  }
}
