:root {
  font-family: "EB Garamond", serif;
  font-style: normal;
  display: flex;
  flex-direction: column;
  background-color: #fcf8ed;
  overflow-x: hidden;
}

* {
  -webkit-locale: auto;
  -webkit-text-size-adjust: none;
  white-space: normal;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 150px 135px 50px;
  background-color: #fcf8ed;
}

.main {
  max-width: 1170px;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;

  &__dear {
    max-width: 660px;
    width: 100%;
  }

  &__weAre {
    max-width: 430px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
  }

  &__kiss {
    position: absolute;
    top: 0;
    right: -35px;
    z-index: 2;
  }

  &__hands {
    width: 267px;
    position: absolute;
    top: 320px;
    right: 375px;
    z-index: 2;
  }

  &__title {
    font-family: "EB Garamond", serif;
    font-size: 128px;
    line-height: 1.15;
    font-weight: 400;
    margin: 0;
    padding: 0;
  }

  &__description {
    font-family: "EB Garamond", serif;
    position: relative;
    width: fit-content;
    font-size: 40px;
    line-height: 1.15;
    font-weight: 400;
    margin: 3px 0 0;
    padding: 0;
  }

  &__hearth {
    position: absolute;
    top: 5px;
    right: -11px;
  }

  &__text {
    font-family: "EB Garamond", serif;
    max-width: 492px;
    font-size: 40px;
    line-height: 1.15;
    font-weight: 400;
    margin: 125px 0 0;
    padding: 0;
  }

  @media screen and (max-width: 1320px) {
    &__weAre {
      max-width: none;
      width: 100%;
      position: relative;
    }

    &__kiss {
      top: -15px;
      right: -25px;
    }

    &__dear {
      position: relative;
      top: -20px;
      z-index: 1;
    }

    &__hands {
      width: 100%;
      position: relative;
      top: auto;
      right: auto;
      margin-top: 40px;
    }
  }

  @media screen and (max-width: 800px) {
    &__title {
      font-size: 64px;
    }

    &__description {
      font-size: 24px;
    }

    &__text {
      max-width: 290px;
      text-align: center;
      font-size: 24px;
      margin-top: 24px;
    }

    &__hearth {
      top: 2px;
      width: 88px;
      height: 42px;
    }
  }
}

@media screen and (max-width: 1320px) {
  .main {
    align-items: center;
  }
}

@media screen and (max-width: 1200px) {
  .page {
    padding: 70px 55px 40px;
  }
}

@media screen and (max-width: 850px) {
  .page {
    padding: 30px 33px;
  }
}
