.form {
  max-width: 1170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  margin-top: 100px;

  &__title {
    font-family: "EB Garamond", serif;
    max-width: 692px;
    font-size: 96px;
    line-height: 0.85;
    font-weight: 700;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  &__text {
    font-family: "EB Garamond", serif;
    max-width: 447px;
    font-size: 24px;
    line-height: 1.15;
    font-weight: 400;
    margin: 24px 0 0;
    padding: 0;
  }

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__label {
    font-family: "EB Garamond", serif;
    font-size: 36px;
    line-height: 1.15;
    font-weight: 700;
    margin: 40px 0 0;
    padding: 0;
  }

  &__description {
    font-family: "EB Garamond", serif;
    color: #4f4f4f;
    font-size: 24px;
    line-height: 1.15;
    font-weight: 400;
    margin: 6px 0 0;
    padding: 0;

    &--bottom {
      margin-top: 60px;
      color: black;
      max-width: 520px;
      text-align: center;
    }
  }

  &__text-input {
    width: 100%;
    font-size: 24px;
    line-height: 1.15;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid black;
    background-color: transparent;
    margin-top: 20px;
    padding-bottom: 4px;
    outline: none;
  }

  &__presence {
    font-family: "EB Garamond", serif;
    margin-top: 12px;
    position: relative;

    input {
      display: none;
    }

    span {
      font-family: "EB Garamond", serif;
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 24px;
      line-height: 1.15;
      font-weight: 400;

      &::before {
        display: inline-block;
        content: "";
        width: 18.5px;
        height: 18.5px;
        border: 1px solid black;
        border-radius: 50%;
      }

      &::after {
        content: "";
        position: absolute;
        width: 30px;
        height: 25px;
        top: 0;
        left: 0;
        background: url(../../../images/answer.svg) no-repeat;
        transition: 0.2s ease-in-out;
        opacity: 0;
      }
    }

    & input:checked + span::after {
      opacity: 1;
    }

    &:first-of-type {
      margin-top: 20px;
    }
  }

  &__drinks {
    font-family: "EB Garamond", serif;
    width: fit-content;
    font-size: 24px;
    line-height: 1.15;
    font-weight: 400;
    margin: 12px 0 0;
    padding: 6px 12px 8px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    position: relative;

    &--long::before {
      content: "";
      width: 177px;
      height: 40px;
      position: absolute;
      top: 2px;
      left: 0;
      background: url(../../../images/answerBigPC.svg) no-repeat;
    }

    &--short {
      &::before {
        content: "";
        width: 95px;
        height: 39px;
        position: absolute;
        top: 2px;
        left: 1px;
        background: url(../../../images/answerSmallPC.svg) no-repeat;
      }
    }

    &:first-of-type {
      margin-top: 20px;
    }
  }

  &__button {
    color: white;
    font-size: 20px;
    line-height: 1.15;
    font-weight: 400;
    background-color: #a20000;
    margin: 40px auto 0;
    padding: 10px 86px;
    border: 0;
    cursor: pointer;
    align-self: center;
    outline: none;
  }

  &__error-message {
    font-family: "EB Garamond", serif;
    font-size: 20px;
    font-weight: 700;
    width: fit-content;
    color: #a20000;
    margin: 0 auto;
    padding: 0;
    position: relative;
    top: 34px;
  }

  &__success-message {
    font-family: "EB Garamond", serif;
    font-size: 20px;
    font-weight: 700;
    width: fit-content;
    color: #09671e;
    margin: 0 auto;
    padding: 0;
    position: relative;
    top: 4px;
  }

  @media screen and (max-width: 950px) {
    &__title {
      font-size: 48px;
    }

    &__text {
      font-size: 24px;
      margin-top: 16px;
    }

    &__label {
      font-size: 32px;
    }

    &__description {
      font-size: 20px;
      margin-top: 4px;

      &--bottom {
        margin: 32px auto 0;
        color: black;
        max-width: 434px;
      }
    }

    &__text-input {
      font-size: 20px;
    }

    &__presence {
      span {
        font-size: 20px;

        &::after {
          top: -2px;
        }
      }
    }

    &__drinks {
      font-size: 20px;

      &--long::before {
        width: 130px;
        height: 35px;
        top: 2px;
        left: 2px;
        background: url(../../../images/answerBig.svg) no-repeat;
      }

      &--short {
        &::before {
          width: 70px;
          height: 25px;
          top: 5px;
          left: 4px;
          background: url(../../../images/answerSmall.svg) no-repeat;
        }
      }
    }
  }

  @media screen and (max-width: 650px) {
    &__title {
      font-size: 36px;
    }

    &__text {
      max-width: 280px;
      font-size: 15px;
      margin-top: 8px;
    }

    &__label {
      font-size: 24px;
    }

    &__description {
      font-size: 15px;
      margin-top: 4px;

      &--bottom {
        margin-top: 32px;
        color: black;
        max-width: 324px;
      }
    }

    &__text-input {
      margin-top: 16px;
    }

    &__error-message {
      font-size: 15px;
    }

    &__success-message {
      font-size: 15px;
    }
  }
}

@media screen and (max-width: 450px) {
  .form {
    margin-top: 70px;
    align-items: flex-start;

    &__container {
      width: 100%;
    }

    &__title {
      text-align: left;
    }
  }
}
